<%- include("../header"); %>
<div class="col-12">
    <h1>Profesores</h1>
    <a href="/Profesor/agregar" class="btn btn-primary mb-2">Agregar</a>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>nombre</th>
                <th>email</th>
                <th>telefono</th>
                <th>area_p</th>
                <th>area_a</th>
                <th>contraseña</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            <% Profesor.forEach(Profesor=> { %>
            <tr>
                <td><%= Profesor.nombre %></td>
                <td><%= Profesor.email %></td>
                <td><%= Profesor.telefono %></td>
                <td><%= Profesor.area_p %></td>
                <td><%= Profesor.area_a %></td>
                <td><%= Profesor.contraseña %></td>
                <td>
                    <a href="/Profesor/editar/<%= Profesor.doc_id %>" class="btn btn-warning">
                        Editar
                    </a>
                </td>
                <td>
                    <a href="/Profesor/eliminar/<%= Profesor.doc_id %>" class="btn btn-danger">
                        Eliminar
                    </a>
                </td>
            </tr>
            <% })%>
        </tbody>
    </table>
    <a href="/" class="btn btn-secondary mb-2">Regresar</a>
</div>
<%- include("../footer"); %>
